extends baseEmail

block content

  p Поштовани #{name},
  p Заборавили сте лозинку? Молим Вас креирајте нову лозинку на: #{url}.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Ресетујте лозинку
  p Уколико нисте заборавили лозинку, молимо Вас да игноришете овај емејл!