extends baseEmail

block content

  p Поштовани #{name},
  p Добродошли у Архивар 🎉🙏
  p Архивар је апликација намењена за евидентирање докумената ваше фирме и аутоматизовану израду архиве!
  p Уколико имате било каквих проблема или нејасноћа у вези коришћења апликације контактирајте нашу ИТ подршку!
  p - Влада Митић, mitic.v.dev@gmail.com
  p Поздрав од Ваше,
  p КОНТАБИЛИТА ПЛУС
   
